/**
 * Resets
 *
 * Simple browser resets.
 */

body {
	font-family: sans-serif;
	margin: 0;
}

/* Reset box sizing: https://css-tricks.com/box-sizing/ */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}


/**
 * Layout
 */

.container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 40vh 40vh;
}

.cell {
	background: #ddd;
	padding: 20px;
}